/*RESET*/

body {
  font-size:62.5%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

* { margin: 0;
    padding: 0px; }

.clearfix {
  clear: both;
}


/*END RESET*/



html { 
  line-height: normal;
}

.container {
  width: 930px;
  margin: 0 auto;
}

/*********************INDEX STYLES*********************/

.player-container {
  width: 930px;
  height: 358px;
  margin-bottom: 25px;
  padding-top: 36px;
}


.player-item {    
  width: 269px;
  height: 255px;
  margin: 0 28px 20px 0;
  padding: 10px;
  float: left;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.player-item.last {
  margin-right: 0;
  float: right;
}


/*********************PLAYER STYLES*********************/

.player-container h1 {
  text-align: center;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-shadow: 1px 1px 2px rgba(24, 24, 24, 0.7);
}

.player-container p.song-title, .player-container p.song-artist {
  text-align: center;
  margin-top: 57px;
  color: #fffae4;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(24, 24, 24, 0.7);
}

.player-container p.song-artist {
  margin-top: 8px;
  color: #fffae4;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(24, 24, 24, 0.7);
}

.player-container.thebeatles {
  background: url('../images/bg_thebeatles.jpg') no-repeat;
}

.player-box {
  width: 335px;
  height: 99px;
  margin: -9px auto 10px auto;
}


/*********************PLAYER ITEMS STYLES*********************/

.player-item h2 {
  margin: 8px 0 4px 0;
  color: #5f6570;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.player-item ul li.song-title, .player-item ul li.song-artist {
  margin: 5px 0 5px 0;
  padding-left: 24px;
  color: #5f6570;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  display: block;
  background: url('../images/icon_song.png') no-repeat;

}

.player-item ul li.song-artist {
  color: #858b97;
  font-size: 14px;
  background: url('../images/icon_artist.png') no-repeat;
}


/*********************SPONSORS*********************/

.sponsors {
  margin-top: 36px;
}

.sponsors a img {
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 42px;
}

.sponsors a img.last {
  margin-right: 0;
}